body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0a183d;
}
.wapper{
    position: absolute;
    width: 80vm;
    transform: translate(-50% ,-50%);
    top:50%;
    left:50%;
    display: flex;
}
.contener{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em ;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    
}




span.num{
    color: aliceblue;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
.text{
    color: beige;
    font-size: 1em;
    text-align: center;
    padding: 1.1em 0;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
    padding-left: 10px;

}
img{
    padding-bottom: 1em;
}