body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    color: #24313B;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.height-vh {
    height: 100vh;
}

.col-md-6 .col-sm-7 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.mapp-spec {
    overflow: hidden;
}
.mapp-block{
will-change: transform;
transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before {
    display: table;
    content: " ";
}

.col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.tile-flow1 {
    position: relative;
    display: block;
    height: 250px;
}

.tile-flow1 .first-tile {
    position: absolute;
    display: block;
    left: 30px;
    right: 30px;
    top: 30px;
    text-align: center;
    bottom: 0;
    border-top-left-radius: 244px;
    border: 28px solid #f8f8f9;
    border-bottom: 0;
}

.tile-flow1 .second-tile {
    position: absolute;
    display: block;
    left: 58px;
    right: 58px;
    top: 58px;
    text-align: center;
    bottom: 0;
    border-top-left-radius: 220px;
    border: 28px solid #f1f1f3;
    border-bottom: 0;
}
.panel4 .tile-flow1 .third-tile {
    background-color: #ecc589;
    box-shadow: inset 1px 2px 3px 0px #a0804f;
}

.tile-flow1 .third-tile {
    position: absolute;
    display: block;
    left: 86px;
    right: 86px;
    top: 86px;
    text-align: center;
    bottom: 0;
    border-top-left-radius: 200px;
}

.row:after {
    clear: both;
    display: table;
    content: " ";

}
.tile-flow2 {
    position: relative;
    display: block;
    height: 250px;
}
.tile-flow2 .first-tile {
    position: absolute;
    display: block;
    left: 30px;
    right: 30px;
    top: 0;
    text-align: center;
    bottom: 0;
    border-bottom-right-radius: 244px;
    border: 28px solid #f8f8f9;
    border-top: 0;
    z-index: 1;
}
.tile-flow2 .second-tile {
    position: absolute;
    display: block;
    left: 58px;
    right: 58px;
    top: 0;
    text-align: center;
    bottom: 28px;
    z-index: 1;
    border-bottom-right-radius: 214px;
    border: 28px solid #f1f1f3;
    border-top: 0;
}
.panel4 .tile-flow2 .third-tile {
    background-color: #ecc589;
    border-bottom-right-radius: 190px;
    box-shadow: inset 1px -4px 3px 1px #a0804f;
}
.tile-flow2 .third-tile {
    position: absolute;
    display: block;
    left: 86px;
    right: 86px;
    top: 0;
    text-align: center;
    bottom: 56px;
}


.data-titles {
    will-change: transform;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

.panel4 .tile-flow2 .third-tile img {
    width: 100%;
    right: 5px;
    position: relative;
    margin-top: -142px;
    animation-name: rocket-air;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

body {
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 45em) {
    section {
        flex-wrap: nowrap;
    }
}

.card {
    position: relative;
    width: 250px;
    height: 300px;
    margin: 10px;
    background: #CCC;
    transform: rotateX(0) rotateY(0);
    transform-style: preserve-3d;
    transition-duration: 0.1s;
    transition-timing-function: ease !important;
    backface-visibility: hidden;
    will-change: tranform;
}

.card__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(http://alexandrebuffet.fr/codepen/parallax-cards/blur-overlay.jpg) no-repeat center center;
    background-size: cover;
    mix-blend-mode: lighten;
    opacity: 0.5;
}

.card__image img {
    max-width: 100%;
    width: 250px;
    height: 300px;
    mix-blend-mode: lighten;
}

.card__heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    color: #FFF;
}

.card__heading .small {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 10px;
    transform: translateZ(15px);
}

.card__heading h2 {
    margin: 0;
    transform: translateZ(30px);
}

.card.is-out {
    transform: rotateX(0) rotateY(0) !important;
    transition-duration: 1s;
}

#card-1 {
    background-color: #424242;
}

#card-2 {
    background-color: #424242;
}

#card-3 {
    background-color: #424242;
}

#card-4 {
    background-color: #424242;
}

@import url(animetion.js);

